{{define "thingcard"}}
<div class="">
    <div class="bordered thingcard">
        <span class="position">{{printf "%03d" .Position}}.</span>
        <img src="{{.Thing.ImageURL | safeURL}}">
        <div class="thingtextblock">
            <span class="title">{{.Thing.Name}}</span>
            <span class="description unemphatic">{{.Description}}</span>
        </div>
    </div>
</div>
{{end}}

{{define "newthing"}}

    <form class="bordered thingcard" action="/things/new/form" method="post" enctype="multipart/form-data">
        <span class="position">{{printf "%03d" (len (printf "a%*s" . "") )}}.</span> <!--Cursed-->
        <input type="file" width="100" height="100" id="file-dragarea" accept="image/png,image/jpeg" onchange="handleFiles(this.files)" draggable="true" name="image" id="image">
        <div class="thingtextblock">
            <input class="title" type="text" placeholder="Name" name="title" id="title">
            <input class="description unemphatic" type="text" placeholder="description" name="description" id="description">
        </div>
        <input type="submit">
    </form>

    <script>
        /** @type {HTMLElement} */
        let dragarea = document.getElementById("file-dragarea")
        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(en => {
            dragarea.addEventListener(en, (e) => {
                e.preventDefault() 
                e.stopPropagation()
            }, false)
        })

        ['dragenter', 'dragover'].forEach(en => {dragarea.addEventListener(en, (e) => dragarea.classList.add('dragged'), false)})
        ['dragleave', 'drop'].forEach(en => {dragarea.addEventListener(en, (e) => dragarea.classList.remove('dragged'), false)})
        const handleFiles = () => console.log("Dragged something lets go")
    </script>

{{end}}