{{define "thingcard"}}
<div class="">
    <div class="bordered thingcard">
        <span class="position">{{printf "%03d" .Position}}.</span>
        <img src="{{.Thing.ImageURL | safeURL}}">
        <div class="thingtextblock">
            <span class="title">{{.Thing.Name}}</span>
            <span class="description unemphatic">{{.Description}}</span>
        </div>
    </div>
</div>
{{end}}

{{define "newthing"}}

    <form class="bordered thingcard" action="/things/new/form" method="post" enctype="multipart/form-data" id="newthingform">
        <span class="position">{{printf "%03d" (len (printf "a%*s" . "") )}}.</span> <!--Cursed-->

        <label for="imagearea">
            <htmx id="imagepreview"/>
        </label>
        <input type="file" width="100" height="100" accept="image/png,image/jpeg" draggable="true" name="image" id="imagearea">
        <div class="thingtextblock">
            <input class="title" type="text" placeholder="Name" name="title" id="title" minlength="1" 
                hx-get="/htmx/thingimage" hx-trigger="load, input[!imageUploaded] changed delay:300ms" hx-target="#imagepreview" hx-swap="outerHTML">
            <input class="description unemphatic" type="text" placeholder="description" name="description" id="description">
        </div>
        <input type="submit" id="newthingsubmit">
    </form>

    <style>
        #newthingsubmit,
        #imagearea {
            display: none;
        }

        #imagepreview {
            background-color: white;
            display: inline-block;
            object-fit: cover;
            border-radius: 10px;
        }
        #imagepreview:hover {
            opacity: .5;
            cursor: pointer;
        }
    </style>

    <script>
        window.imageUploaded = false
        document.getElementById("imagearea").onchange = (ev) => {
            if(event.target.files.length > 0){
                let src = URL.createObjectURL(event.target.files[0]);
                let preview = document.getElementById("imagepreview");
                preview.src = src;
                window.imageUploaded = true
            }
        }
        function canIFetch() {
            return !imageUploaded
        }
    </script>

{{end}}