{{define "body"}}
<body>
{{if and .user (eq .user.ID .userid)}}
    <!-- write mode -->
    <h3>My list  <a class="btn primary" style="font-weight: normal;" href="#newthingform">New entry</a></h3>
    <div id="thingcards">
    {{range $r := .rankings}}
        {{template "thingcard" $r}}
    {{end}}
    {{template "newthing" len .rankings}}
    </div>
{{else}}
    <!-- read only mode -->
    {{if .rankings}}
        <div id="thingcards">
            {{range $r := .rankings}}
                {{template "thingcard" $r}}
            {{end}}
        </div>
    {{else}}
        We couldn't find that user or his list is empty.
    {{end}}
{{end}}

</body>
{{end}}