<body>
    <div id="navbar">
        <a style="font-size: x-large; font: 900;" href="/">top100things</a>
        <div style="flex-grow: 1;"></div>
        <div id="userdetails">
            {{if .user}}
                <button class="primary"><a href="/things/{{.user.ID}}">My list</a></button>
            {{else}}
                <button class="primary"><a href="/signup">Sign up</a></button>
                <button><a href="/login">Login</a></button>
            {{end}}
        </div>
    </div>
</body>