<!-- globally usable styles -->
<style>
    body {
        max-width: fit-content;
        margin:auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .unemphatic {
        color: gray;
        font-style: italic;
    }
    .bordered {
        border: 2px;
        border-color: black;
        border-style: solid;
        border-radius: 10px;
    }
    input :invalid {
        border: 1px;
        border-color: red;
        border-style: solid;
    }
    .error {
        color: red;
        font: bold;
    }
</style>

<!-- thing cards -->
<style>
    .thingcard {
        padding: 1rem;
        max-width: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .thingcard>.thingtextblock {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
    }
    .thingcard>img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .thingcard>.position {
        font-family: 'Courier New', Courier, monospace;
        font-size: xx-large;
        margin-right: 10px;
    }
    .thingtextblock>.title {
        font-size: xx-large;
    }
    .thingtextblock>.description {
        font-size: large;
    }
</style>